@import url('https://fonts.googleapis.com/css2?family=Yomogi');

AnchorPane {
    -fx-font-family: Yomogi;
    -fx-background-color: whitesmoke;
    -fx-font-size: 40px;
}

.counter {
    -fx-font-size: 100px;
    -fx-background-color: transparent;
}

.header1 {
    -fx-font-size: 90px;
    -fx-background-color: transparent;
}

.header2 {
    -fx-font-size: 75px;
    -fx-background-color: transparent;
}

.roundButton {
    -fx-background-radius: 1em;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-min-width: 3px;
    -fx-min-height: 3px;
    -fx-max-width: 3px;
    -fx-max-height: 3px;
}

.button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-min-width: 2px;
    -fx-min-height: 2px;
    -fx-max-width: 2px;
    -fx-max-height: 2px;
}

.field {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}